@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat';
  margin-top: 15px;
  margin-bottom: 15px;
}
.mainCard{
    background-color: #F7F9FC;
    width: 30%;
    height: fit-content;
    min-width: 300px;
    margin-right: 8vw;

}
@media screen and (max-width:997px) {
  .mainCard{
    margin-bottom: 15px;
  }
}
@media screen and (max-width:766px) {
  .mainCard{
    margin-right: 0px;
    width: 55%;
  }
}
@media screen and (max-width:352px) {
  .mainCard{
    min-width: 100%;

  }
}