.cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #47CD82;
    padding: 5px;
    border-radius: 5px;
}
.a,.select{
    cursor: pointer;
    font-size: 16px;
}
.active{
   color:#ffffff;
   font-weight: 500;
   background-color: #47CD82;
   padding: 8px 12px;
   border-radius: 2px;
}
@media screen and (max-width:516px) {
    .a,.select{
        font-size: 3vw;
    }
    .cont{
        padding: 0.2vw;
    }
}