*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.table-container{
  margin-top: 45px;
  display: flex;
  width: 100%;
}
.mainCard-map-container{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

@media screen and (max-width:1239px) {
  .mainCard-map-container{
    width: 100%;
  }
}
@media screen and (max-width:766px) {
  .mainCard-map-container{
    justify-content: center;
  }
}
@media screen and (min-width:766px) {
  .mainCard-map-container{
    padding-left: 10px;
  }
}
@media screen and (min-width:542px) {
  .table-container{
    padding-left: 10px;
  }
}
